{% extends "base.html" %}


{% block content %}
<div class="container" role="main">
  <div class="row-fluid">

    <h2>.</h2>

    <form class="form-horizontal">
      <fieldset>
        <legend>Details</legend>
        <div class="control-group">
          <label class="control-label" for="input01">File path</label>
          <div class="controls">
            <p class="help-block">{{ file.path }}</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="input01">Shelves</label>
          <div class="controls">
            {% if owner %}
            <input type="text" id="suggest" class="span3" placeholder=""
              value="{{ shelves|join:", " }}">
            {% else %}
              <p class="help-block">{{ shelves|join:", " }}</p>
            {% endif %}
          </div>
        </div>


        <div class="control-group">
          <label class="control-label" for="input01">Link</label>
          <div class="controls">
            <p class="help-block">{{ file.share_link }}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="textarea">Description</label>
          <div class="controls">
            {% if owner %}
            <textarea id="description-area" class="input-xlarge" id="textarea" rows="3">{{ file.description }}</textarea>
            {% else %}
            <p class="help-block">{{ file.description }}</p>
            {% endif %}
          </div>
        </div>
        {% if owner %}

        <a class="btn btn-primary btn-large" id="edit-btn" href="#">
          Save changes
        </a>

        {% endif %}

      </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block end %}
<script src="/media/bootstrap/js/jquery.autocomplete.js"></script>
<script type="text/javascript">
  $('#edit-btn').click(function() {
      $('#edit-btn').html('Saving ..');
      console.log('lol');
      $.ajax({
          type: 'GET',
          url: '/app/json_edit_file/',
          data: {description: $('#description-area').val(),
                 path: "{{ file.path }}",
                 shelves: $('#suggest').val()},
          dataType: 'json',
          success: function(data) {
            console.log(data);
            $('#edit-btn').html('Save changes');
          }
      });
  });

  var shelves = [
      {% for s in allshelves %}"{{ s.name }}"{% if not s.last %},{% endif %}{% endfor %}
    ];
  $("#suggest").autocomplete(shelves, {
    multiple: true,
    mustMatch: true,
    autoFill: true
  });
</script>

{% endblock %}