{% extends "base.html" %}


{% block content %}
<div class="container" role="main">
  <div class="row-fluid">

    <h2>.</h2>

    <form class="form-horizontal">
      <fieldset>
        <legend>Details</legend>
        <div class="control-group">
          <label class="control-label" for="input01">File path</label>
          <div class="controls">
            <p class="help-block">{{ file.path }}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input01">Link</label>
          <div class="controls">
            <p class="help-block">{{ share_link }}</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="textarea">Description</label>
          <div class="controls">
            {% if owner %}
            <textarea id="description-area" class="input-xlarge" id="textarea" rows="3">{{ file.description }}</textarea>
            {% else %}
            <p class="help-block">{{ file.description }}</p>
            {% endif %}
          </div>
        </div>
        {% if owner %}

        <a class="btn btn-primary btn-large" id="edit-btn" href="#">
          Save changes
        </a>

        {% endif %}

      </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block end %}
<script type="text/javascript">
  $('#edit-btn').click(function() {
      console.log('lol');
      $.ajax({
          type: 'GET',
          url: '/app/json_edit_file/',
          data: {description: $('#description-area').val(), path: "{{ file.path }}"},
          dataType: 'json',
          success: function(data) { console.log(data) }
      });
  });
</script>
{% endblock %}