{% extends "base.html" %}


{% block content %}
<div class="container" role="main">
  <div class="row-fluid">

    <h2>.</h2>
    <h3>Dosyaların</h3>


    <table class="table table-striped" id="filelisttable">
      <td>Dosya</td>
      <td>Boyut</td>
      <td>Son değişiklik</td>
      <tr><td id="filelist" colspan="3">Hiç dosya yok.</td></tr>

    </table>

    <div class="span12">

      <h2>.</h2>

    </div>
  </div>
</div>
{% endblock %}

{% block end %}
<script src="/media/filelist.js"></script>
{% endblock %}