{% extends "base.html" %}


{% block content %}
<div class="container" role="main">
  <div class="row-fluid">

    <h2>.</h2>
    <h3>Dosyaların</h3>

    <a class="btn btn-primary" href="">Dosyalarını düncelle</a>

    <div id="tablewashere"></div>

    <div class="span12">

      <h2>.</h2>

    </div>
  </div>
</div>
{% endblock %}

{% block end %}
<script type="text/javascript">

function create_filelist_table (parent) {
  parent.append('<table class="table table-stripped" id="filelisttable"></table>');
  var table = $("#filelisttable");
  table.append('<td>Dosya</td>');
  table.append('<td>Boyut</td>');
  table.append('<td>Son değişiklik</td>');
}

function add_no_file_tr (table) {
  table.append('<tr><td id="filelist" colspan="3">Hiç dosya yok.</td></tr>');
}

crate_filelist_table($("#tablewashere"));
add_no_file_tr($("#filelisttable"));

function get_file_list() {
  $("#tablewashere").html();

  $('#filelist').html('Dosya listesi alınıyor.');
  $.getJSON('/app/json_file_list/',
    function(data) {
      if (data.length === 0) {
        $('#filelist').html('Hiç dosya yok.');
      } else {
        $('#filelist').remove();
        for (var i = 0; i < data.length; i++) {
          f = data[i];
          $('#filelisttable').append('<tr id="' + i + '">');
          console.log(f['owner'])
          $('#' + i).append('<td><a href=\"/app/file/' + f['owner'] + '/' +
            f['path'] + "\">" +
            f['path'] + "</td>");
          $('#' + i).append('<td>' + f['size'] + '</td>');
          $('#' + i).append('<td>' + f['modified'] + '</td>');
          $('#' + i).append('</tr>');
        }
      }
    });
}

$(document).ready(get_file_list);
</script>
{% endblock %}