{% extends "base.html" %}


{% block content %}
<div class="container" role="main">
  <div class="row-fluid">

    <h2>.</h2>

    <ul>
      {% for s in shelves %}
        <h3><a href="/app/shelf/{{ s.name }}">{{ s.name }}</a><h3>
      {% endfor %}
    </ul>

    <h3>Güncellemeler</h3>

    <table class="table table-striped" id="filelisttable">
      <td>Dosya</td>
      <td>Boyut</td>
      <td>Son değişiklik</td>

      {% for f in last_updates %}
      <tr>
        <td><a href="/app/file/{{ f.owner.uid }}/{{ f.path }}/">{{ f.path }}</a></td>
        <td>{{ f.size }}</td>
        <td>{{ f.modified }}</td>
      </tr>
      {% endfor %}
    </table>

    <div class="span12">

      <h2>.</h2>

    </div>
  </div>
</div>
{% endblock %}

{% block end %}
<script type="text/javascript">

</script>
{% endblock %}