{% extends "base.html" %}


{% block content %}
<div class="container" role="main">
  <div class="row-fluid">

    <h2>.</h2>
    <h3>Dosyaların</h3>
    <table class="table table-striped">
      <td>Dosya</td>
      <td>Boyut</td>
      <td>Son değişiklik</td>
      {% for f in files %}
      <tr>
        <td><a href="/app/file/{{ f.path }}">{{ f.path }}</a></td>
        <td>{{ f.size }}</td>
        <td>{{ f.modified }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="3">Hiç dosya yok.</td></tr>
      {% endfor %}
    </table>

    <div class="span12">

      <h2>.</h2>

    </div>
  </div>
</div>
{% endblock %}
