{% extends "base.html" %}


{% block content %}
<div class="container" role="main">
  <div class="row-fluid">

    <h2>.</h2>

    <div class="alert fade in" id="first-time-alert">
      <a class="close" data-dismiss="alert">×</a>
      <strong>Warning!</strong> This is your first login. Adding your file list to database. This may take some time...
    </div>

    <ul class="breadcrumb">

      {% for s in shelves %}
      <li><a href="/app/shelf/{{s.name}}/">{{s.name}}</a>
      <span class="divider">/</span></li>
      {% endfor %}

    </ul>

    <h3>Güncellemeler</h3>

    <table class="table table-striped" id="filelisttable">
      <td>Dosya</td>
      <td>Boyut</td>
      <td>Son değişiklik</td>

      {% for f in last_updates %}
      <tr>
        <td><a href="/app/file/{{ f.owner.uid }}/{{ f.path }}/">{{ f.path }}</a></td>
        <td>{{ f.size }}</td>
        <td>{{ f.modified }}</td>
      </tr>
      {% endfor %}
    </table>

    <div class="span12">

      <h2>.</h2>

    </div>
  </div>
</div>
{% endblock %}

{% block end %}
<script src="/media/bootstrap/js/bootstrap-alert.js"></script>
<script type="text/javascript">
$("#first-time-alert").hide();
if ("{{ is_new }}" === "True") {
    $("#first-time-alert").show();
    $.ajax({
        type: 'GET',
        url: '/app/json_update_files/',
        dataType: 'json',
        success: function(data) {
          console.log(data);
          $("#first-time-alert").addClass("alert-success");
          $("#first-time-alert").html("You file list is updated!");
          setTimeout(function () {
            $("#first-time-alert").alert('close');
          }, 3000);
        }
    });
}
</script>
{% endblock %}
