{% extends "base.html" %}


{% block content %}
<div class="container" role="main">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
        <h1>Yo!</h1>
        <p>Dolap, basitçe, Dropbox hesabının belirli bir alanındakileri tüm dünyayla düzenli bir şekilde paylaşabilmeni ve başkaları tarafından yapılmış paylaşımları incelemeni, indirmeni, onlara yorum yapmanı ve paylaşımı yapanlarla kolaylıkla haberleşebilmeni sağlar.</p>

        <a class="btn btn-primary btn-large" id="login-btn">
          Dropbox hesabın ile giriş yap
        </a>

        <p>Giriş yaptıktan sonra yine bu sayfaya dönmelisin.</p>
        <hr>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block end %}
<script type="text/javascript">
var login_btn = $('#login-btn');
var clicked = 0;

login_btn.click(function() {
  if (clicked === 0) {
    $.getJSON('/app/json_login/',
      function(data) {
        clicked += 1;
        if (data['response'] === 'fail') {
          console.log("response is fail");
          login_btn.attr('target', '_blank');
          login_btn.attr('href', data['url']);
          login_btn.html('Buraya tıklayıp, açılan sayfadan onay vermelisin.');
        } else if (data['response'] === 'ok') {
          console.log('response is ok');
          window.location.replace("/app/home/");
        }
      });
  } else if (clicked === 1) {
    login_btn.html('Onay verdikten sonra buraya tıkla.');
    login_btn.removeAttr('href').removeAttr('target');
  } else {
    $.getJSON('/app/json_login/',
      function (data) {
        if (data['response'] === 'fail') {
          console.log("WTF?!");
        } else if (data['response'] === 'ok') {
          console.log('response is ok');
          window.location.replace('/app/home/');
        }
      });
  }
});
</script>
{% endblock %}