<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/app/">Dolap</a>
      <div class="nav-collapse">
          <ul class="nav pull-left">
          <li {% if page == "home" %}class="active"{% endif %}>
            <a href="{% if page == "home" %}#{% else %}/app/home{% endif %}">Ev</a>
          </li>
          {% if account %}
          <li {% if page == "files" %}class="active"{% endif %}>
            <a href="{% if page == "files" %}#{% else %}/app/files{% endif %}">Dosyaların</a>
          </li>
          {% endif %}
        </ul>


        <form class="navbar-search pull-left">
          <input type="text" class="search-query" placeholder="Search">
        </form>

        <ul class="nav pull-right">
          {% if account %}
            <li><i class="gravatar" style="background-image: url('{{ account.gravatar_url }}');"></i><p class="navbar-text pull-right">Logged in as <a href="/app/home/">{{ account.display_name }}</a></p></li>
            <li class="divider-vertical"></li>
            <li><p class="navbar-text pull-right"><a href="/app/logout">Logout</a></p></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
