{% extends "base.html" %}


{% block content %}



<div class="container" role="main">

    <h2>.</h2>

    <ul>
      {% for s in subshelves %}
        <h3><a href="/app/shelf/{{ s.name }}">{{ s.name }}</a><h3>
      {% endfor %}
    </ul>

    <table class="table table-striped" id="filelisttable">
      <td>Dosya</td>
      <td>Boyut</td>
      <td>Son değişiklik</td>

      {% for file in files %}
      <tr>
        <td><a href="/app/file/{{ file.owner.uid }}/{{ file.path }}/">{{ file.path }}</a></td>
        <td>{{ file.size }}</td>
        <td>{{ file.modified }}</td>
      </tr>
      {% empty %}
      <tr><td id="filelist" colspan="3">Hiç dosya yok.</td></tr>
      {% endfor %}
    </table>
</div>




{% endblock %}

{% block end %}
<script type="text/javascript">
</script>
{% endblock %}